#visibility_viw {
  max-height: 33px;
}

body {
  background-color: #fff;
}

.episode-order {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 50px;
  z-index: 1;
  left: 15px;
  top: 0px;
}

.image-holder {
  text-align: center;
  margin: auto;
  height: 350px;
  width: 490px;
  position: relative;
  margin-bottom: 20px;
}


.image-holder .inactive {
  background-color: #cacaca;
  width: 100%;
  height: 100%;
}

.image-holder .icon {
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: bold;
  font-size: 90px;
  color: #FFF;
  left: 50%;
  top: 50%;
}

.image-holder img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  margin: 0;
}

.episdoe-name {
  font-size: 18px;
  min-height: 45px;
  letter-spacing: -0.5px;
}

.input-group {
  justify-content: space-between;
}

.img-holder {
  margin: 0;
  width: 10%;
  padding: 4px 3px;
}

.img-holder .img {
  cursor: pointer;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  min-height: 75px;
  width: 100%;
}

.table-body {
  display: table;
  width: 100%;
}

.table-header .table-cell {
  text-align: center;
  color: #fff;
}
.addBtn {
  position: relative;
  transition: all .4s ease;
  overflow: hidden;
  width: 45px;
  height: 38px;
}

.addBtn svg {
  font-size: 20px;
  transform: translateY(-65%);
  position: absolute;
  left: 10px;
  top: 50%;
}

.addBtn span {
  transition: all .3s ease;
  transform: translateY(-50%);
  position: absolute;
  right: 20px;
  opacity: 0;
  top: 50%;
}

.addBtn:hover span {
  opacity: 1;
}

.addBtn:hover {
  width: 150px;
}

.course-img {
  width: 620px;
  height: 350px;
  margin: auto;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.card-body .btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.date {
  font-size: 14px;
  color: #888;
  margin: 0;
  padding: 0;
}

form .description {
  min-height: 132px;
}

.anser-container {
  display: inline;
  position: relative;
}

.options {
  position: absolute;
  left: -15px;
  top: -5px;
}

.input-question {
  font-size: 26px;
}

.remove-btn {
  top: 18px;
  right: 36px;
  color: #f00;
  cursor: pointer;
  font-size: 22px;
  font-weight: 900;
  position: absolute;
}

.anser-input {
  width: 90%;
  display: inline;
}

.anser-remove-btn {
  width: 10%;
  color: #f00;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  margin-left: 12px;
  position: relative;
}

.cancel-btn-content:first-of-type,
.cancel-btn-content:nth-of-type(2) {
  top: 50%;
  right: 25px;
  bottom: 50%;
  width: 15px;
  height: 4px;
  display: block;
  position: absolute;
  border-radius: 15px;
  background-color: #f00;
  transform-origin: center center;
}
.cancel-btn-content:first-of-type {
  transform: rotate(45deg);
}
.cancel-btn-content:nth-of-type(2) {
  transform: rotate(-45deg);
}
.big_close_btn span {
  width: 7px !important;
  height: 30px !important;
}
.is_right {
  position: absolute;
    top: 30%;
    right: 6px;
    border-radius: 3px;
    width: 15px;
    height: 15px;
}