.card {position: relative;}

.card .card-img-top {min-height: 55px;}

.card .ep_number, .card .lock {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 50px;
  z-index: 1;
  left: 15px;
  top: 0px;
}

.card .lock {
  left: auto;
  right: 15px;
}

.lecture-info {
  margin-bottom: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .35);
}

.lecture-info .img-responsive {
  height: auto;
  width: 100%;
}

.lecture-info .info {
  padding-top: 20px;
  padding-right: 30px;
  text-align: center;
}

.lecture-info .info ul li {
  padding: 6px;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
}

.lecture-info .info ul li span {
  min-width: 120px;
  display: inline-block;
}

.lecture-info .info ul li:nth-child(even) {background-color: #eee;}

.course-done {
  border-color: #5fac71;
  box-shadow: 0 2px 3px 1px #85c293;
  transition: all .3s ease;
}
.course-done:hover {box-shadow: 0 3px 3px 2px #7ec08d;}